@import "../../styles/variables.scss";
@import "../../styles/typography.scss";
@import "../../styles/utilities.scss";

.cartItems {
    background-color: $white;
    padding: 0 $spacing-300;
    border-radius: .75rem;
    width: 384px;
    position: fixed;
    max-height: 80%;
    overflow-y: scroll;

    >h2 {
        @include text-preset-2;
        color: $red;
        position: sticky;
        top: 0%;
        width: 100%;
        background-color: $white;
        padding-top: $spacing-300;
    }

    >ul {
        padding: 0%;
    }

    hr {
        border: 1px solid $rose-100;
        margin: $spacing-200 0;
    }

    hr:last-of-type {
        margin: $spacing-300 0;
    }

    @include respond-to-tablet {
        position: relative;
        width: 100%;
    }
}

.cartItem {
    @include flex-row-center-justify-between;
    @include text-preset-4-bold;

}

.left {
    @include flex-column-start;

    >p {
        margin: 0 0 .5rem 0;
        color: $rose-900;
    }

    div {
        @include flex-row-center;
        gap: $spacing-100;


        span:nth-of-type(1) {
            color: $red;
            margin-right: 9px;
        }

        span:nth-of-type(2) {
            @include text-preset-4;
            color: $rose-500;
        }

        span:nth-of-type(3) {
            color: $rose-500;
        }
    }
}

.removeButton {
    @include flex-row-center;
    background: none;
    border: 0.0938rem solid $rose-400;
    fill: $rose-400;
    height: 1.0938rem;
    width: 1.0938rem;
    padding: 0rem;
    border-radius: 50%;

    &:hover {
        fill: $rose-900;
        border: 0.0938rem solid $rose-900;
    }
}

.total {
    @include flex-row-center-justify-between;
    margin-bottom: $spacing-300;

    span {
        @include text-preset-4;
        color: $rose-900;
    }

    h4 {
        @include text-preset-2;
    }
}

.cartEnd {
    position: sticky;
    bottom: 0;
    margin-top: auto;
    background-color: $white;
    padding-bottom: $spacing-300
}

.carbonInfo {
    @include flex-row-center;
    background-color: $rose-50;
    margin-bottom: $spacing-300;
    width: 100%;
    padding: 0 $spacing-200;
    border-radius: 8px;

    svg {
        margin-right: $spacing-100;
    }
}

.emptyCart {
    @include flex-column-center;

    img {
        margin-top: $spacing-500;
        margin-bottom: $spacing-200;
    }

    span {
        @include text-preset-4-bold;
        color: $rose-500;
        margin-bottom: $spacing-200;
    }
}