@import "../styles/variables.scss";

.itemList {
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    grid-template-rows: 21.6875rem;
    grid-column-gap: $spacing-300;
    grid-row-gap: $spacing-400;
}