@import "../styles/variables.scss";
@import "../styles/typography.scss";
@import "../styles/utilities.scss";

.itemList {
    display: grid;
    grid-template-columns: repeat(auto-fill, 15.625rem);
    grid-template-rows: 21.6875rem;
    column-gap: $spacing-300;
    row-gap: $spacing-400;

    @include respond-to-tablet {
        grid-template-columns: repeat(auto-fill, 13.3125rem);
        grid-template-rows: 19.9375rem;
        justify-content: space-between;

        @include respond-to-phone {
            justify-content: center;
            width: 19.8125rem;
        }
    }

    @include respond-to-phone {
        grid-template-columns: repeat(auto-fill, 20.4375rem);
    }
}

.title {
    @include text-preset-1;
    margin: 0 0 $spacing-400 0;
}