@import "../styles/variables.scss";
@import "../styles/typography.scss";

.itemList {
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    grid-template-rows: 21.6875rem;
    grid-column-gap: $spacing-300;
    grid-row-gap: $spacing-400;
}

.title {
    @include text-preset-1;
    margin: 0 0 $spacing-400 0;
}