@import 'variables';

@mixin flex-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

@mixin flex-column-start {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: baseline;
}

@mixin flex-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin flex-row {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: stretch;
}

@mixin flex-row-justify-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

@mixin flex-row-start {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: stretch;
}

@mixin flex-row-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@mixin flex-row-start-center {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

@mixin respond-to-tablet {
    @media (max-width: $max-width-tablet) {
        @content;
    }
}

@mixin respond-to-phone {
    @media (max-width: $max-width-phone) {
        @content;
    }
}