@import "../../styles/variables.scss";
@import "../../styles/utilities.scss";
@import "../../styles/typography.scss";

.languageSelect {
    @include flex-row-center;
    color: $rose-900;
    gap: $spacing-200;

    >select {
        border: none;
        background: none;

    }
}