@import "../../styles/variables.scss";
@import "../../styles/utilities.scss";
@import "../../styles/typography.scss";

.languageSelect {
    @include flex-row-center;
    color: $rose-900;
    gap: $spacing-200;
}

.customSelectWrapper {
    position: relative;

    &::before {
        content: "🌐";
        position: absolute;
        left: $spacing-200;
        top: 50%;
        transform: translateY(-50%);
        pointer-events: none;
    }
}

.customSelect {
    @include text-preset-4-bold;
    appearance: none;
    background-color: transparent;
    border: none;
    padding-left: $spacing-500;
    position: relative;
    cursor: pointer;

    option {
        font-size: 16px;
    }
}