@import "../../styles/variables.scss";
@import "../../styles/utilities.scss";
@import "../../styles/typography.scss";

.header {
    @include flex-row-center-justify-between;
    width: 100%;
    padding: $spacing-300 7.5rem;
    position: fixed;
    top: 0rem;
    background: linear-gradient(to bottom, rgba(252, 248, 246, 1) 75%, rgba(252, 248, 246, 0) 100%);
    z-index: 3;

    @include respond-to-tablet {
        padding: $spacing-200 $spacing-500;
    }

    @include respond-to-phone {
        @include flex-column-start-reverse;
    }

    >nav {
        @include text-preset-2;
        @include flex-row;
        gap: $spacing-300;

        a {
            color: $rose-900;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }

            &.active {
                text-decoration: underline;
            }
        }
    }

    .active {
        text-decoration: underline;
    }

    .link {
        text-decoration: none;
      }
      
      .activeLink {
        text-decoration: underline;
      }
}