@import "../../../styles/variables.scss";
@import "../../../styles/utilities.scss";
@import "../../../styles/typography.scss";

.phoneCart {
    display: none;
    position: fixed;
    bottom: -75px;
    padding: $spacing-150 $spacing-300;
    border-radius: .75rem .75rem 0 0;
    background-color: $white;
    border: 2px solid $red;
    border-bottom: 0;
    width: calc(100% - ($spacing-500 * 2));
    transition: 0.7s;

    @include respond-to-tablet {
        @include flex-column-center;
    }

    @include respond-to-phone {
        width: 100%;
    }

    hr:last-of-type {
        margin: $spacing-300 0;
    }
}

.upperCart {
    @include flex-row-center-justify-between;
    width: 100%;
    padding: $spacing-100;
    
    >h2 {
        @include text-preset-2;
        color: $red;
        position: sticky;
        top: 0%;
        width: 100%;
        background-color: $white;
    }

    >svg {
        transform: scale(2) rotate(0.5turn);
        transition: transform 0.5s ease-in-out;
    }

    .rotateChevron {
        transform: scale(2) rotate(0);
    }
}

.removeButton {
    @include flex-row-center;
    background: none;
    border: 0.0938rem solid $rose-400;
    fill: $rose-400;
    height: 1.0938rem;
    width: 1.0938rem;
    padding: 0rem;
    border-radius: 50%;

    &:hover {
        fill: $rose-900;
        border: 0.0938rem solid $rose-900;
    }
}

.total {
    @include flex-row-center-justify-between;
    margin-bottom: $spacing-300;

    span {
        @include text-preset-4;
        color: $rose-900;
    }

    h4 {
        @include text-preset-2;
    }
}

.cartEnd {
    position: sticky;
    bottom: 0;
    margin-top: auto;
    background-color: $white;
    padding-bottom: $spacing-300
}

.carbonInfo {
    @include flex-row-center;
    background-color: $rose-50;
    margin-bottom: $spacing-300;
    width: 100%;
    padding: 0 $spacing-200;
    border-radius: 8px;

    svg {
        margin-right: $spacing-100;
    }
}

.showPhoneCart {
    bottom: 0rem;
}

.lowerCart {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.7s ease-out;
    width: 100%;
}

.openCart {
    max-height: 80vh;
    transition: 0.7s;
}

.noBorder {
    transition: 0.7s;
    border: 2px solid $white;
}