@import "./styles/variables.scss";

.container {
    display: flex;
    margin: 88px 112px;
}

.products {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.cart {
    width: 24rem;
    margin-left: $spacing-400;
}